body{
    background-color: hsl(47, 88%, 63%);;
    display: flex; flex-direction: column; justify-content: center; align-items: center; min-height: 100vh; 
}
.container{
    background-color:hsl(47, 88%, 63%);
    
    
}
.costum-card{
    border-radius: 13px;
    box-shadow: 5px 9px 3px black;
}
p{
    font-size: 14px;
    color: hsl(0, 0%, 42%);
}
span{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: inline-block;
    width: 80px;
    text-align: center;
    border-radius: 4px;
    padding: 4;
    
}
img{
    position: relative;
    max-width: 90%;
    top: 16px;
    left: 15px;
    border-radius: 8px;
    
}
.card  {
    margin: 5rem;
}

.author-image{
    position:relative;
    right: 23;
    width: 45;
    bottom: 15;
  
}
.author-name {
    position: relative;
    right: 11px;
    top: 2px;
}
.card {
    width: 90%;
    max-width: 37.5rem;
    }

